

<div id="post_page" class="single-page">
	<div id="top_p_page">
		<h1>
			<span>Đổi mật khẩu</span>
			
		</h1>
	</div>
	<div id="mid_p_page">
		<div class="group-titles">
			<ul>
				<li ><a href="/account">Thông tin nhân vật</a></li>
				<li><span>|</span></li>
				<li><span class="active">Đổi mật khẩu</span></li>
				<li><span>|</span></li>
				<li><a href="/account/summary">Thống kê Kim Nguyên Bảo</a></li>
			</ul>		
		</div>

		<form id="changepassword-form" action="/auth/dochangepassword" method="post">
			<label for="password">Mật khẩu hiện tại</label>
			<input type="password" name="password" id="password">
			<label for="password_new">Mật khẩu mới</label>
			<input type="password" name="password_new" id="password_new">
			<label for="password_new_again">Nhập lại mật khẩu</label>
			<input type="password" name="password_new_again" id="password_new_again">
			<br>
			<button type="submit">Lưu</button>
			<button type="reset">Hủy</button>
		</form>
		
	</div>
	<div id="bot_p_page"></div>
</div>