<div id="post_page" class="single-page">
	<div id="top_p_page">
		<h1>
			<span>Đổi mật khẩu</span>
			
		</h1>
	</div>
	<div id="mid_p_page">
		<div class="group-titles">
			<ul>
				<li ><a href="/account">Thông tin nhân vật</a></li>
				<li><span>|</span></li>
				<li><span class="active">Đổi mật khẩu</span></li>
				<li><span>|</span></li>
				<li><a href="/account/summary">Thống kê Kim Nguyên Bảo</a></li>
			</ul>		
		</div>
		<h3 style="color: green;text-align: center;">Đổi mật khẩu thành công</h3>
		<a style="text-align: center; display: block;" href="/">Bấm vào đây để về trang chủ</a>
	</div>
	<div id="bot_p_page"></div>
</div>