

<div id="post_page" class="single-page">
	<div id="top_p_page">
		<h1>
			<span>Đăng nhập</span>
			
		</h1>
	</div>
	<div id="mid_p_page">
		<h3 style="text-align: center"></h3>
		<form id="clientlogin-form" action="/auth/dologin" method="post">
			<label for="loginName">Tên đăng nhập</label>
			<input type="text" name="loginName" id="loginName">
			<label for="password">Mật khẩu</label>
			<input type="password" name="password" id="password">
			<br>
			<button type="submit">Đăng nhập</button>
			<button type="reset">Hủy</button>
		</form>
		
	</div>
	<div id="bot_p_page"></div>
</div>