<div id="post_page" class="single-page">
	<div id="top_p_page">
		<h1>
			<span>Thông báo</span>
			
		</h1>
	</div>
	<div id="mid_p_page">
		<h3 style="color: green;text-align: center;">Có lỗi xảy ra</h3>
		<a style="text-align: center; display: block;" href="/">Bấm vào đây để về trang chủ</a>
	</div>
	<div id="bot_p_page"></div>
</div>