<div id="post_page" class="single-page">
	<div id="top_p_page">
		<h1>
			<span>Đăng ký tài khoản</span>
			
		</h1>
	</div>
	<div id="mid_p_page">
		<h3></h3>
		<form id="reg-form" action="/auth/doregister" method="post">
			<label for="loginName">Tên đăng nhập</label>
			<input type="text" name="loginName" id="loginName">
			<label for="password">Mật khẩu</label>
			<input type="password" name="password" id="password">
			<label for="password-again">Nhập lại mật khẩu</label>
			<input type="password" name="password_again" id="password_again">
			<label for="email">Email</label>
			<input type="text" name="email" id="email">
			<label for="phone">Số điện thoại</label>
			<input type="text" name="phone" id="phone">
			<br>
			<button type="submit">Đăng ký</button>
			<button type="reset">Hủy</button>
		</form>
		
	</div>
	<div id="bot_p_page"></div>
</div>