<div id="post_page" class="single-page">
	<div id="top_p_page">
		<h1>
			<span>Đăng ký tài khoản</span>
			
		</h1>
	</div>
	<div id="mid_p_page">
		<h3 style="color: green;text-align: center;">Đăng ký thành công</h3>
		<a style="text-align: center; display: block;" href="/auth/clientlogin">Bấm vào đây để đăng nhập</a>
	</div>
	<div id="bot_p_page"></div>
</div>