<div id="post_page" class="single-page">
    <div id="top_p_page">
        <h1>
            <span>Nạp Kim Nguyên Bảo</span>
            
        </h1>
    </div>
    <div id="mid_p_page">
        <p class="error-cash hide"></p>
        <p class="success-cash hide"></p>
        <p style="text-align: center">Tên tài khoản: <?=req.session.clientloggedin.loginName ?></p>
        <form id="cash-form" action="/account/docash" method="post">
            <label for="choose-card">Chọn loại thẻ *</label>
            <select id="choose-card" name="card_type">
                <option value="VMS">Mobifone</option>
                <option value="VNP">Vinaphone</option>
                <option value="VTT">Viettel</option>
                <option value="GATE">Thẻ Gate FPT</option>
            </select>
            <div class="cart-type">
                <img data-value="VMS" src="/linker/img/MOBI.jpg" alt="">
                <img class="hide" data-value="VNP" src="/linker/img/VinaCard.jpg" alt="">
                <img class="hide" data-value="VTT" src="/linker/img/ViettelCard.jpg" alt="">
                <img class="hide" data-value="GATE" src="/linker/img/FPTCard.jpg" alt="">
            </div>
            <label for="card_serial">Số seri thẻ *</label>
            <input type="text" name="card_serial" id="card_serial">
            <label for="card_number">Mật mã thẻ *</label>
            <input type="text" name="card_number" id="card_number">
            
            <br>
            <button type="submit">Nạp</button>
            <button type="reset">Hủy</button>
        </form>
        
    </div>
    <div id="bot_p_page"></div>
</div>