
<div id="post_page" class="single-page">
	
	<div id="top_p_page">
		<h1>
			<span>Thông tin tài khoản</span>
			
		</h1>
	</div>
	<div id="mid_p_page">
		<div class="group-titles">
			<ul>
				<li><span class="active">Thông tin nhân vật</span></li>
				<li><span>|</span></li>
				<li><a href="/auth/changepassword">Đổi mật khẩu</a></li>
				<li><span>|</span></li>
				<li><a href="/account/summary">Thống kê Kim Nguyên Bảo</a></li>
			</ul>		
		</div>
		<h3></h3>
		<? if(recordset && recordset.length){ ?>
		<table class="table table-bordered table-stripped">
			<thead>
				<tr>
					<th>STT</th>
					<th>UID</th>
					<th>Tên nhân vật</th>
					<th>Lớp nhân vật</th>
					<th>Level</th>
					<th>Exp</th>
				</tr>
			</thead>
			<tbody>
				<? var i = 0; ?>
				<? recordset.forEach(function(item){ ?>
					<? i++; ?>
					<tr>
						<td><?=i?></td>
						<td><?=item.char_id?></td>
						<? if(item.level<=10){ ?>
						<td><a title="Click để đổi tên nhân vật" class="changenickname" data-type="text" data-pk="<?=item.char_id?>" data-url="/account/changenickname" data-title="Đổi tên nhân vật"><?=item.nickName?></a></td>
						<? } else { ?>
						<td><?=item.nickName?></td>
						<? } ?>
						<td><?=: item.faction | formatFaction ?></td>
						<td><?=item.level?></td>
						<td><?=item.exp?></td>
					</tr>
				<? }) ?>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6" style="text-align: right">Nhân vật có cấp độ <=10 mới có thể đổi tên</td>
				</tr>
			</tfoot>
		</table>
		<? } else { ?>
		<p style="text-align: center">Chưa có nhân vật nào</p>
		<? } ?>
	</div>
	<div id="bot_p_page"></div>
</div>