<div id="post_page" class="single-page">
	
	<div id="top_p_page">
		<h1>
			<span>Thống kê Kim Nguyên Bảo</span>
			
		</h1>
	</div>
	<div id="mid_p_page">
		<div class="group-titles">
			<ul>
				<li><a href="/account">Thông tin nhân vật</a></li>
				<li><span>|</span></li>
				<li><a href="/auth/changepassword">Đổi mật khẩu</a></li>
				<li><span>|</span></li>
				<li><span class="active">Thống kê Kim Nguyên Bảo</span></li>
			</ul>		
		</div>
		<h3></h3>
		<? if(recordset && recordset.length){ ?>
		<table class="table table-bordered table-stripped">
			<thead>
				<tr>
					<th>STT</th>
					<th>Ngày nạp</th>
					<th>Loại thẻ</th>
					<th>Serial Number</th>
					<th>Mã thẻ</th>
					<th>Mệnh giá</th>
				</tr>
			</thead>
			<tbody>
				<? var i = 0; ?>
				<? recordset.forEach(function(item){ ?>
					<? i++; ?>
					<tr>
						<td><?=i?></td>
						<td><?=: item.date | formatDate?></td>
						<td><?=: item.card | formatCard ?></td>
						<td><?=item.seri_card?></td>
						<td><?=item.code_card?></td>
						<td><?=item.money?></td>
					</tr>
				<? }) ?>
			</tbody>
		</table>
		<? } else { ?>
		<p style="text-align: center">Không có thông tin Kim Nguyên Bảo</p>
		<? } ?>
	</div>
	<div id="bot_p_page"></div>
</div>