<h2>Create new post</h2>
<form class="form-horizontal" method="post" role="form" id="form-edit" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" name="title" placeholder="Title">
    </div>
  </div>
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Short title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="short_title" name="short_title" placeholder="Short title (menu dropdown title)">
    </div>
  </div>
  <div class="form-group">
    <label for="content" class="col-sm-2 control-label">Short content</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="short-content" name="short_content" placeholder="Short content"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="content" class="col-sm-2 control-label">Content</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="content" name="content" placeholder="Content"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="content" class="col-sm-2 control-label">Featured Image</label>
    <div class="col-sm-10">
      <input type="file" name="featured_image">
    </div>
  </div>
  <div class="form-group">
  	<label for="content" class="col-sm-2 control-label">Status</label>
  	<div class="col-sm-3">
      <select name="status" class="form-control">
        <option value="Published">Published</option>
        <option value="Draft">Draft</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="content" class="col-sm-2 control-label">Show link on menu</label>
    <div class="col-sm-3">
      <select name="show_on_menu" class="form-control">
        <option value="0">Don't show</option>
        <option value="1">Show on top menu</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="content" class="col-sm-2 control-label">Category</label>
    <div class="col-sm-3">
      <select name="category_id" class="form-control">
        <option value="0">Root</option>
        <?
          if(categories.length){
            categories.forEach(function(item){
              if(item.category_type==='MAIN_CATEGORY'){
        ?>
          <option value="<?=item.id?>"><?=item.name?></option>
        <? 
          }
            });
          }
        ?>
      </select>  
    </div>
  </div>
  <div class="form-group">
    <label for="content" class="col-sm-2 control-label">Post group</label>
    <div class="col-sm-3">
      <select name="group_id" class="form-control">
        <option value="0">No group</option>
        <?
          if(categories.length){
            categories.forEach(function(item){
              if(item.category_type==='GROUP_POST'){
        ?>
          <option value="<?=item.id?>"><?=item.name?></option>
        <? 
          }
            });
          }
        ?>
      </select>  
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-primary">
      <input type="reset" class="btn">
    </div>
  </div>
</form>