<h2>Edit post "<?=post.title?>"</h2>
<form class="form-horizontal" role="form" method="post" id="form-edit" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input type="text" name="title" class="form-control" id="title" placeholder="Title" value="<?=post.title?>" >
    </div>
  </div>
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Short title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="short_title" name="short_title" placeholder="Short title (menu dropdown title)" value="<?=post.short_title?>" >
    </div>
  </div>
  <div class="form-group">
    <label for="content" class="col-sm-2 control-label">Short content</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="short-content" name="short_content" placeholder="Short content"><?=post.short_content?></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="content" class="col-sm-2 control-label">Content</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="content" name="content" placeholder="Content"><?=post.content?></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="content" class="col-sm-2 control-label">Featured Image</label>
    <div class="col-sm-10">
      <input type="file" name="featured_image">
      <? if(post.featured_image){ ?>
      <img src="/posts/<?=post.featured_image ?>" width="125" />
      <? } ?>
    </div>
  </div>
  <div class="form-group">
  	<label for="content" class="col-sm-2 control-label">Status</label>
  	<div class="col-sm-3">
      <select class="form-control" name="status">
        <option value="Published" <?= (post.status=='Published'? 'selected':'') ?> >Published</option>
        <option value="Draft" <?= (post.status=='Draft'? 'selected':'') ?> >Draft</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="content" class="col-sm-2 control-label">Show link on menu</label>
    <div class="col-sm-3">
      <select name="show_on_menu" class="form-control">
        <option value="0" <?= (post.showOnMenu=='0'? 'selected':'') ?> >Don't show</option>
        <option value="1" <?= (post.showOnMenu=='1'? 'selected':'') ?> >Show on top menu</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="content" class="col-sm-2 control-label">Category</label>
    <div class="col-sm-3">
      <select name="category_id" class="form-control">
        <?
          if(categories.length){
            categories.forEach(function(item){ 
              if(item.category_type==='MAIN_CATEGORY'){
        ?>
          <option value="<?=item.id?>" <?=(post.category_id==item.id)?'selected':'' ?> > <?=item.name?></option>
        <? 
          }
            });
          
          }
        ?>
      </select>  
    </div>
  </div>
  <div class="form-group">
    <label for="content" class="col-sm-2 control-label">Group Post</label>
    <div class="col-sm-3">
      <select name="group_id" class="form-control">
        <?
          if(categories.length){
            categories.forEach(function(item){ 
              if(item.category_type==='GROUP_POST'){
        ?>
          <option value="-1">No group</option>
          <option value="<?=item.id?>" <?=(post.group_id==item.id)?'selected':'' ?> > <?=item.name?></option>
        <? 
          }
            });
          }
          
        ?>
      </select>  
    </div>
  </div>
  <!-- <input type="hidden" ng-model="post.author_id"> -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary">Update</button>
      <button class="btn btn-default">Cancel</button>
    </div>
  </div>
</form>