<h2>Posts list</h2>
<br>
<label for="category">Danh mục</label>
<select id="category" name="category_id">
	<option value="0">Tất cả danh mục</option>
	<? 
		categories.forEach(function(c){
			if(c.category_type==='MAIN_CATEGORY'){
	?>

	<option value="<?= c.id  ?>" <?= selected_cat_id==c.id?'selected':''  ?>><?= c.name  ?></option>
	<? } });  ?>
</select>
<a class="btn btn-primary pull-right" href="/post/create">Create new</a>
<br><br>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<th>ID</th>
		<th>Title</th>
		<th>Author</th>
		<th>Created at</th>
		<th>Updated at</th>
		<th width="170">Action</th>
	</thead>
	<tbody>
		<? if(!posts.length) { ?>
		<tr>
			<td colspan="6">Item not found</td>
		</tr>
		<? } else { ?>
			<? posts.forEach(function(post){ ?>
			<tr>
				<td><?=post.id?></td>
				<td><?=post.title?></td>
				<td><?=post.author_id?></td>
				<td><?=: post.createdAt | formatDate ?></td>
				<td><?=: post.updatedAt | formatDate ?></td>
				<td>
					<a href="/post/edit/<?=post.id?>" class="btn btn-primary">Edit</a>
					<a href="/post/delete/<?=post.id?>" class="btn btn-danger">Delete</a>
				</td>
			</tr>
			<? }); ?>
		<? } ?>

	</tbody>
</table>