<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Panel</title>

    <!-- Bootstrap core CSS -->
    <link href="/linker/admin/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <style>
	body {margin-top: 60px;}
    </style>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/admin">Admin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/post">Posts</a></li>
            <li><a href="/category">Categories</a></li>
            <li><a href="/" target="_blank">View my site</a></li>
            <!-- <li><a href="#">Media</a></li> -->
          </ul>
          <? if(req.session.user) { ?>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> Signed in as  <?=req.session.user.loginName ?><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Change password</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
          <? } ?>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    <div class="container">

      <?-body ?>
  
    </div><!-- /.container -->
    
    <script src="/linker/admin/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="/linker/admin/js/tinymce/jquery.tinymce.min.js"></script>
    <script src="/linker/admin/js/vendor/bootstrap.js"></script>
    <script src="/linker/admin/js/main.js"></script>

  </body>
</html>