<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><?-title?></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!--STYLES-->
        <link rel="stylesheet" href="/linker/css/flexslider.css">
        <link rel="stylesheet" href="/linker/js/vendor/jquery.poshytip/tip-yellowsimple/tip-yellowsimple.css">
        <link rel="stylesheet" href="/linker/js/vendor/x-editable/css/jquery-editable.css">
        <link rel="stylesheet" href="/linker/css/main.css">
        <!--STYLES END-->
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="wrapper">
          <header id="header">
            <div class="search">
              <form action="/home/search" method="post">
                <input type="text" name="search" placeholder="Tìm kiếm...">
                <input type="submit">
              </form>
            </div>
            
            <? if(req.session.clientloggedin){ ?>
            <div class="user-info">
              <span>Xin chào, </span>
              <a href="/account/index" class="username"><?=req.session.clientloggedin.loginName.trim() ?>.</a>
              <a href="/auth/clientlogout">Thoát</a>
            </div>
            <? } ?>
            <ul class="menu left-menu">
              <li><a class="trangchu" href="/">Trang chủ</a></li> 
              <li>
                <a class="tintuc" href="#">Tin tức</a>
                <ul class="sub-menu">
                  <li><a href="/list?cat=2">Thông báo</a></li>
                  <li><a href="/list?cat=3">Sự kiện</a></li>
                  <li><a href="/list?cat=9">Báo chí</a></li>
                  <li><a href="http://mongaocolong.com/auth/register">Đăng ký</a></li>
                </ul>
              </li>
              <li>
                <a class="sukien" href="#">Sự kiện</a>
                <ul class="sub-menu">
                  <? var events = menuPosts.filter(function(p){return p.category_id==3 && p.showOnMenu == 1 });?>
                  <? events.forEach(function(post){  ?>
                  <li><a href="/home/view/<?=post.id?>"><?=post.short_title  ?></a></li>
                  <? });  ?>
                </ul>
              </li>
              <li>
                <a class="gioithieu" href="#">Giới thiệu</a>
                <ul class="sub-menu">
                  <? var events = menuPosts.filter(function(p){return p.category_id==4 && p.showOnMenu == 1 });?>
                  <? events.forEach(function(post){  ?>
                  <li><a href="/home/view/<?=post.id?>"><?=post.short_title  ?></a></li>
                  <? });  ?>
                </ul>
              </li>
            </ul>
            <ul class="menu right-menu">
              <li>
                <a class="dactrung" href="#">Đặc trưng</a>
                <ul class="sub-menu">
                  <? var events = menuPosts.filter(function(p){return p.category_id==5 && p.showOnMenu == 1 });?>
                  <? events.forEach(function(post){  ?>
                  <li><a href="/home/view/<?=post.id?>"><?=post.short_title  ?></a></li>
                  <? });  ?>
                </ul>
              </li>
              <li>
                <a class="huongdan" href="#">Hướng dẫn</a>
                <ul class="sub-menu">
                  <? var events = menuPosts.filter(function(p){return p.category_id==6 && p.showOnMenu == 1 });?>
                  <? events.forEach(function(post){  ?>
                  <li><a href="/home/view/<?=post.id?>"><?=post.short_title  ?></a></li>
                  <? });  ?>
                </ul>
              </li>
              <li>
                <? if(!req.session.clientloggedin){ ?>
                  <a class="dangnhap" href="/auth/clientlogin">Đăng nhập</a>
                <? } else { ?>
                  <a class="taikhoan" href="/account/index">Tài khoản</a>
                <? } ?>
              </li>
              <li>
                <a class="congdong" href="http://diendan.mongaocolong.com">Cộng đồng</a>
                <ul class="sub-menu">
                  <? var events = menuPosts.filter(function(p){return p.category_id==8 && p.showOnMenu == 1 });?>
                  <? events.forEach(function(post){  ?>
                  <li><a href="/home/view/<?=post.id?>"><?=post.short_title  ?></a></li>
                  <? });  ?>
                </ul>
              </li>
            </ul>
          </header>
          <section class="flash-wrapper">
            <div class="flash">
              <a href="http://diendan.mongaocolong.com/showthread.php?t=1" class="download">download</a>
              <a href="/account/cash" class="cash">cash</a>
              <a href="/auth/register" class="register">regiter</a>
              <object type="application/x-shockwave-flash" data="/linker/img/~fla_banner.swf" width="320" height="300">
                <param name="quality" value="high">
                <param name="wmode" value="transparent">
              </object>
            </div>
          </section>
          <section id="main">
            <div class="adv">
              <img src="/linker/img/left3.gif">
            </div>
            <div class="adv right">
              <img src="/linker/img/left6.png">
            </div>
            <?-body?>
          </section>
          <footer id="footer">
            <img src="/linker/img/footer.jpg" alt="">
          </footer>
        </div>
        <!--SCRIPTS-->
        <script src="/linker/js/socket.io.js"></script>
        <script src="/linker/js/sails.io.js"></script>
        <script src="/linker/js/app.js"></script>
        <script src="/linker/js/vendor/jquery-1.10.2.min.js"></script>
        <script src="/linker/js/vendor/holder.js"></script>
        <script src="/linker/js/vendor/jquery.flexslider-min.js"></script>
        <script src="/linker/js/vendor/jquery.easing.min.js"></script>
        <script src="/linker/js/vendor/jquery.validate.min.js"></script>
        <script src="/linker/js/vendor/additional-methods.min.js"></script>
        <script src="/linker/js/plugins.js"></script>
        <script src="/linker/js/vendor/jquery.poshytip/jquery.poshytip.js"></script>
        <script src="/linker/js/vendor/x-editable/js/jquery-editable-poshytip.js"></script>
        <script src="/linker/js/main.js"></script>
        <!--SCRIPTS END-->
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='http://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
