<h2>Edit category "<?=category.name?>"</h2>
<form class="form-horizontal" method="post" role="form" id="form-edit">
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="<?=category.name?>">
    </div>
  </div>
  <div class="form-group">
    <label for="content" class="col-sm-2 control-label">Category type</label>
    <div class="col-sm-10">
      <select name="category_type">
        <option value="MAIN_CATEGORY" <?=category.category_type==='MAIN_CATEGORY'?'selected':'' ?> >MAIN_CATEGORY</option>  
        <option value="GROUP_POST" <?=category.category_type==='GROUP_POST'?'selected':'' ?> >GROUP_POST</option>  
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="content" class="col-sm-2 control-label">Slug</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="slug" name="slug" placeholder="Slug" value="<?=category.slug?>">
    </div>
  </div>
  
  <!-- <div class="form-group">
  	<label for="content" class="col-sm-2 control-label">Parent</label>
  	<div class="col-sm-3">
      <select name="parent_id" class="form-control">
        <option value="0">Root</option>
        <?
          if(categories.length){
            categories.forEach(function(item){ 
        ?>
          <option value="<?=item.id?>" <?=(category.parent_id==item.id)?'selected':'' ?> > <?=item.name?></option>
        <? 
            });
          }
        ?>
      </select>  
    </div>
  </div> -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-primary">
      <input type="reset" class="btn">
    </div>
  </div>
</form>