<h2>Categories list</h2>
<br>
<a class="btn btn-primary pull-right" href="/category/create">Create new</a>
<br><br>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<th>ID</th>
		<th>Name</th>
		<th>Type</th>
		<th >Created at</th>
		<th >Updated at</th>
		<th width="170">Action</th>
	</thead>
	<tbody>
		<? if(!categories.length) { ?>
		<tr>
			<td colspan="6">Item not found</td>
		</tr>
		<? } else { ?>
			<? categories.forEach(function(category){ ?>
			<tr>
				<td><?=category.id?></td>
				<td><?=category.name?></td>
				<td><?=category.category_type?></td>
				<td><?=: category.createdAt | formatDate ?></td>
				<td><?=: category.updatedAt | formatDate ?></td>
				<td>
					<a href="/category/edit/<?=category.id?>" class="btn btn-primary">Edit</a>
					<a href="/category/delete/<?=category.id?>" <?=category.category_type==='MAIN_CATEGORY'?'disabled':'' ?> class="btn btn-danger">Delete</a>
				</td>
			</tr>
			<? }); ?>
		<? } ?>
	</tbody>
</table>