/*! normalize.css v1.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 22, ../sass/helper/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 32, ../sass/helper/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 43, ../sass/helper/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
/* line 53, ../sass/helper/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 68, ../sass/helper/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 83, ../sass/helper/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/**
 * Address margins handled incorrectly in IE 6/7.
 */
/* line 91, ../sass/helper/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 103, ../sass/helper/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 112, ../sass/helper/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
/* line 126, ../sass/helper/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 131, ../sass/helper/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 136, ../sass/helper/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 141, ../sass/helper/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 146, ../sass/helper/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 151, ../sass/helper/_normalize.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
/* line 160, ../sass/helper/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
/* line 169, ../sass/helper/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 173, ../sass/helper/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 181, ../sass/helper/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
/* line 190, ../sass/helper/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 6/7/8/9.
 */
/* line 200, ../sass/helper/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address margins set differently in IE 6/7.
 */
/* line 210, ../sass/helper/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 221, ../sass/helper/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 231, ../sass/helper/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */
/* line 241, ../sass/helper/_normalize.scss */
q {
  quotes: none;
}

/**
 * Address `quotes` property not supported in Safari 4.
 */
/* line 250, ../sass/helper/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 259, ../sass/helper/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 268, ../sass/helper/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 275, ../sass/helper/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 279, ../sass/helper/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 294, ../sass/helper/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 298, ../sass/helper/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 308, ../sass/helper/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 317, ../sass/helper/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
/* line 331, ../sass/helper/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 340, ../sass/helper/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
/* line 352, ../sass/helper/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 364, ../sass/helper/_normalize.scss */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 372, ../sass/helper/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 384, ../sass/helper/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
/* line 401, ../sass/helper/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 414, ../sass/helper/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 426, ../sass/helper/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 443, ../sass/helper/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 454, ../sass/helper/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 466, ../sass/helper/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 479, ../sass/helper/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 492, ../sass/helper/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
/* line 501, ../sass/helper/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 511, ../sass/helper/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 524, ../sass/helper/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*** ESSENTIAL STYLES ***/
/* line 194, menu/*.png */
.menu-sprite, #header ul.menu li:hover a.trangchu, #header ul.menu li:hover a.tintuc, #header ul.menu li:hover a.sukien, #header ul.menu li:hover a.gioithieu, #header ul.menu li:hover a.dactrung, #header ul.menu li:hover a.huongdan, #header ul.menu li:hover a.taikhoan, #header ul.menu li:hover a.dangnhap, #header ul.menu li:hover a.congdong, #header ul.menu a.trangchu, #header ul.menu a.tintuc, #header ul.menu a.sukien, #header ul.menu a.gioithieu, #header ul.menu a.dactrung, #header ul.menu a.huongdan, #header ul.menu a.taikhoan, #header ul.menu a.dangnhap, #header ul.menu a.congdong {
  background: url('../img/menu-s4feed654cb.png') no-repeat;
}

/* line 74, box/*.png */
.box-sprite, #main .box .box-title a.news, #main .box .box-title a.gamethust, #main .box .box-title a.sukien, #main .box .box-title a.baochi, #main .box .box-title a.Thuviencolong {
  background: url('../img/box-s11bdb918ca.png') no-repeat;
}

/* Generate dimensions */
/* Generate dimensions */
/* Important to disable auto generate sprites class */
/* line 19, ../sass/main.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../sass/main.scss */
.hide {
  display: none;
}

/* line 25, ../sass/main.scss */
.error-cash {
  text-align: center;
  color: red;
}

/* line 29, ../sass/main.scss */
.success-cash {
  text-align: center;
  color: green;
}

/* line 34, ../sass/main.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 39, ../sass/main.scss */
body {
  background: url(../img/top_bgmain.jpg) center top no-repeat;
  font-family: Tahoma;
  background-color: #eadec6;
}

/* line 44, ../sass/main.scss */
#wrapper {
  *zoom: 1;
  max-width: 1070px;
  _width: 1070px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
/* line 38, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 48, ../sass/main.scss */
#header {
  margin-top: 43px;
  position: relative;
}
/* line 29, ../sass/helper/_andy.scss */
#header:before, #header:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 33, ../sass/helper/_andy.scss */
#header:after {
  clear: both;
}
/* line 52, ../sass/main.scss */
#header .search {
  width: 155px;
  position: absolute;
  right: 47px;
  top: -37px;
}
/* line 57, ../sass/main.scss */
#header .search input[type=text] {
  background: url(../img/search.png) left top no-repeat;
  width: 150px;
  height: 26px;
  border: none;
  padding: 5px 20px 5px 10px;
  color: #c1500b;
}
/* line 65, ../sass/main.scss */
#header .search input[type=submit] {
  background: url(../img/search-button.png) left top no-repeat;
  width: 16px;
  height: 26px;
  border: none;
  margin-left: -25px;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
/* line 74, ../sass/main.scss */
#header .user-info {
  position: absolute;
  right: 208px;
  top: -35px;
}
/* line 78, ../sass/main.scss */
#header .user-info span {
  color: #fff;
}
/* line 81, ../sass/main.scss */
#header .user-info a.username {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
/* line 85, ../sass/main.scss */
#header .user-info a.username:hover {
  text-decoration: underline;
}
/* line 89, ../sass/main.scss */
#header .user-info a {
  color: #fff;
}
/* line 93, ../sass/main.scss */
#header ul.menu {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  width: 350px;
  float: left;
  display: block;
}
/* line 29, ../sass/helper/_andy.scss */
#header ul.menu:before, #header ul.menu:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 33, ../sass/helper/_andy.scss */
#header ul.menu:after {
  clear: both;
}
/* line 60, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#header ul.menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#header ul.menu li:first-child, #header ul.menu li.first {
  padding-left: 0;
}
/* line 49, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#header ul.menu li:last-child {
  padding-right: 0;
}
/* line 50, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#header ul.menu li.last {
  padding-right: 0;
}
/* line 4, ../sass/helper/_superfish.scss */
#header ul.menu ul, #header ul.menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 9, ../sass/helper/_superfish.scss */
#header ul.menu li {
  position: relative;
}
/* line 12, ../sass/helper/_superfish.scss */
#header ul.menu > li {
  float: left;
}
/* line 15, ../sass/helper/_superfish.scss */
#header ul.menu li:hover > ul.sub-menu {
  display: block !important;
}
/* line 18, ../sass/helper/_superfish.scss */
#header ul.menu ul.sub-menu {
  position: absolute;
  display: none !important;
  top: 100%;
  left: 0;
  z-index: 99;
}
/* line 25, ../sass/helper/_superfish.scss */
#header ul.menu a {
  display: block;
  position: relative;
}
/* line 29, ../sass/helper/_superfish.scss */
#header ul.menu ul.sub-menu ul {
  top: 0;
  left: 100%;
}
/* line 99, ../sass/main.scss */
#header ul.menu > li {
  padding: 0 10px;
  background: url(../img/border.png) right top no-repeat;
  height: 34px;
}
/* line 103, ../sass/main.scss */
#header ul.menu > li:last-child {
  background: none;
}
/* line 106, ../sass/main.scss */
#header ul.menu > li > a {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  margin-top: 13px;
}
/* line 111, ../sass/main.scss */
#header ul.menu.left-menu {
  margin-left: 55px;
}
/* line 114, ../sass/main.scss */
#header ul.menu.right-menu {
  margin-left: 195px;
}
/* line 117, ../sass/main.scss */
#header ul.menu ul.sub-menu {
  padding-top: 12px;
}
/* line 119, ../sass/main.scss */
#header ul.menu ul.sub-menu a {
  padding: 5px 0 5px 10px;
  width: 180px;
  background: url(../img/bg_sub_menu.png) left top repeat-x;
  color: #553115;
  border-bottom: 1px solid #bc9c75;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}
/* line 128, ../sass/main.scss */
#header ul.menu ul.sub-menu a:hover {
  background: url(../img/bg_sub_menu_hover.png) left top repeat-x;
}
/* line 134, ../sass/main.scss */
#header ul.menu li:hover a.trangchu {
  background-position: 0 -155px;
  height: 17px;
  width: 65px;
}
/* line 137, ../sass/main.scss */
#header ul.menu li:hover a.tintuc {
  background-position: 0 -248px;
  height: 14px;
  width: 46px;
}
/* line 140, ../sass/main.scss */
#header ul.menu li:hover a.sukien {
  background-position: 0 -217px;
  height: 17px;
  width: 49px;
}
/* line 143, ../sass/main.scss */
#header ul.menu li:hover a.gioithieu {
  background-position: 0 -104px;
  height: 17px;
  width: 65px;
}
/* line 146, ../sass/main.scss */
#header ul.menu li:hover a.dactrung {
  background-position: 0 -53px;
  height: 17px;
  width: 65px;
}
/* line 149, ../sass/main.scss */
#header ul.menu li:hover a.huongdan {
  background-position: 0 -87px;
  height: 17px;
  width: 72px;
}
/* line 152, ../sass/main.scss */
#header ul.menu li:hover a.taikhoan {
  background-position: 0 -290px;
  height: 14px;
  width: 68px;
}
/* line 155, ../sass/main.scss */
#header ul.menu li:hover a.dangnhap {
  background-position: 0 -262px;
  height: 14px;
  width: 68px;
}
/* line 158, ../sass/main.scss */
#header ul.menu li:hover a.congdong {
  background-position: 0 -18px;
  height: 18px;
  width: 72px;
}
/* line 163, ../sass/main.scss */
#header ul.menu a.trangchu {
  background-position: 0 -138px;
  height: 17px;
  width: 65px;
}
/* line 166, ../sass/main.scss */
#header ul.menu a.tintuc {
  background-position: 0 -234px;
  height: 14px;
  width: 46px;
}
/* line 169, ../sass/main.scss */
#header ul.menu a.sukien {
  background-position: 0 -200px;
  height: 17px;
  width: 49px;
}
/* line 172, ../sass/main.scss */
#header ul.menu a.gioithieu {
  background-position: 0 -121px;
  height: 17px;
  width: 65px;
}
/* line 175, ../sass/main.scss */
#header ul.menu a.dactrung {
  background-position: 0 -36px;
  height: 17px;
  width: 65px;
}
/* line 178, ../sass/main.scss */
#header ul.menu a.huongdan {
  background-position: 0 -70px;
  height: 17px;
  width: 72px;
}
/* line 181, ../sass/main.scss */
#header ul.menu a.taikhoan {
  background-position: 0 -304px;
  height: 14px;
  width: 68px;
}
/* line 184, ../sass/main.scss */
#header ul.menu a.dangnhap {
  background-position: 0 -276px;
  height: 14px;
  width: 68px;
}
/* line 187, ../sass/main.scss */
#header ul.menu a.congdong {
  background-position: 0 0;
  height: 18px;
  width: 72px;
}

/* line 193, ../sass/main.scss */
.flash-wrapper {
  text-align: center;
}
/* line 195, ../sass/main.scss */
.flash-wrapper .flash {
  position: relative;
  display: inline-block;
}
/* line 199, ../sass/main.scss */
.flash-wrapper object {
  z-index: 4;
}
/* line 202, ../sass/main.scss */
.flash-wrapper a {
  z-index: 5;
  position: absolute;
  display: block;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 208, ../sass/main.scss */
.flash-wrapper a.download {
  z-index: 6;
  width: 110px;
  height: 110px;
  bottom: 10px;
  left: 105px;
}
/* line 215, ../sass/main.scss */
.flash-wrapper a.cash {
  width: 80px;
  height: 80px;
  bottom: 70px;
  left: 67px;
}
/* line 221, ../sass/main.scss */
.flash-wrapper a.register {
  width: 95px;
  height: 95px;
  bottom: 72px;
  left: 161px;
}

/* line 230, ../sass/main.scss */
#main {
  position: relative;
}
/* line 29, ../sass/helper/_andy.scss */
#main:before, #main:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 33, ../sass/helper/_andy.scss */
#main:after {
  clear: both;
}
/* line 233, ../sass/main.scss */
#main .left-side {
  width: 49.53271%;
  float: left;
  margin-right: 0.93458%;
  display: inline;
}
/* line 236, ../sass/main.scss */
#main .right-side {
  padding-left: 45px;
  width: 49.53271%;
  float: right;
  margin-right: 0;
  *margin-left: -10px;
  display: inline;
}
/* line 240, ../sass/main.scss */
#main .box {
  margin-top: 30px;
  float: left;
  background: url(../img/bg_content.png) left top no-repeat;
  width: 451px;
  height: 313px;
  padding: 5px;
}
/* line 247, ../sass/main.scss */
#main .box .box-title {
  background: url(../img/bg_title.png) left top no-repeat;
  height: 32px;
  width: 442px;
  padding: 5px 35px;
  margin: 0;
}
/* line 253, ../sass/main.scss */
#main .box .box-title a {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  display: block;
}
/* line 256, ../sass/main.scss */
#main .box .box-title a.news {
  background-position: 0 -92px;
  height: 20px;
  width: 56px;
}
/* line 259, ../sass/main.scss */
#main .box .box-title a.gamethust {
  background-position: 0 0;
  height: 23px;
  width: 140px;
}
/* line 262, ../sass/main.scss */
#main .box .box-title a.sukien {
  background-position: 0 -48px;
  height: 24px;
  width: 59px;
}
/* line 265, ../sass/main.scss */
#main .box .box-title a.baochi {
  background-position: 0 -72px;
  height: 20px;
  width: 59px;
}
/* line 268, ../sass/main.scss */
#main .box .box-title a.Thuviencolong {
  background-position: 0 -23px;
  height: 25px;
  width: 129px;
}
/* line 273, ../sass/main.scss */
#main .box .box-content {
  padding-top: 10px;
}
/* line 29, ../sass/helper/_andy.scss */
#main .box .box-content:before, #main .box .box-content:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 33, ../sass/helper/_andy.scss */
#main .box .box-content:after {
  clear: both;
}
/* line 276, ../sass/main.scss */
#main .box .box-content .img {
  width: 125px;
  float: left;
}
/* line 279, ../sass/main.scss */
#main .box .box-content .img img {
  border: 1px solid #e7bd7d;
  padding: 2px;
}
/* line 284, ../sass/main.scss */
#main .box .box-content .text {
  width: 300px;
  float: left;
  padding-left: 10px;
  font-size: 13px;
}
/* line 289, ../sass/main.scss */
#main .box .box-content .text a.artile-title {
  color: #c1500b;
  text-decoration: none;
  font-size: 14px;
}
/* line 294, ../sass/main.scss */
#main .box .box-content .text div {
  margin-top: 8px;
  font-size: 12px;
  line-height: 15px;
  text-align: justify;
}
/* line 303, ../sass/main.scss */
#main .slider {
  margin-top: 20px;
  float: left;
  background: url(../img/slide/bg_slide.jpg) left top no-repeat;
  width: 451px;
  height: 313px;
  padding: 19px 5px 0 5px;
}
/* line 311, ../sass/main.scss */
#main .gallery {
  padding-left: 12px;
}
/* line 313, ../sass/main.scss */
#main .gallery li {
  display: inline-block;
}
/* line 316, ../sass/main.scss */
#main .gallery a {
  display: block;
}
/* line 318, ../sass/main.scss */
#main .gallery a:hover img {
  border: 2px solid #e7bd7d;
}
/* line 322, ../sass/main.scss */
#main .gallery img {
  padding: 2px;
  border: 2px solid #C57D2C;
}

/* line 328, ../sass/main.scss */
.list-article {
  padding-left: 20px;
  padding-right: 10px;
}
/* line 331, ../sass/main.scss */
.list-article li {
  list-style: none;
  padding: 4px 0;
  border-bottom: solid 1px #d8c6ae;
}
/* line 336, ../sass/main.scss */
.list-article li a {
  text-decoration: none;
  font-size: 12px;
  color: #322000;
}
/* line 340, ../sass/main.scss */
.list-article li a:hover {
  color: #C90000;
  text-decoration: underline;
}
/* line 345, ../sass/main.scss */
.list-article li span {
  float: right;
  font-size: 12px;
}

/* line 351, ../sass/main.scss */
.box .list-article {
  margin-top: 10px;
}
/* line 353, ../sass/main.scss */
.box .list-article li {
  overflow: hidden;
}
/* line 355, ../sass/main.scss */
.box .list-article li a {
  float: left;
  width: 340px;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  font-family: Arial,Helvetica,sans-serif;
  text-align: justify;
}

/* line 366, ../sass/main.scss */
#footer {
  margin-top: 30px;
}

/* line 370, ../sass/main.scss */
#post_page {
  float: right;
  width: 710px;
  margin-top: 20px;
  padding-left: 0px;
}

/* line 376, ../sass/main.scss */
#top_p_page {
  background: url(../img/post_page_top.png) no-repeat center top;
  height: 62px;
  padding-top: 30px;
}

/* line 381, ../sass/main.scss */
#top_p_page h1 {
  font-size: 16px;
  font-weight: bold;
  color: #9b0000;
  margin-left: 90px;
  margin-top: -10px;
  padding: 0px;
}

/* line 389, ../sass/main.scss */
#mid_p_page {
  margin: 0 auto;
  background: url(../img/post_page_mid.png) repeat-y center;
  height: auto;
  padding: 22px 10px 30px 10px;
}
/* line 394, ../sass/main.scss */
#mid_p_page .related-news {
  padding-left: 40px;
  margin-left: 20px;
  color: #602d00;
  font-size: 14px;
  line-height: 30px;
  background: url("../img/bg_related.png") no-repeat left top;
}
/* line 402, ../sass/main.scss */
#mid_p_page .list-article {
  padding: 0 30px 0 40px;
}
/* line 405, ../sass/main.scss */
#mid_p_page table.table {
  text-align: center;
}
/* line 408, ../sass/main.scss */
#mid_p_page .group-titles {
  background: url(../img/bg_group_post.png) no-repeat left top;
  width: 548px;
  height: 72px;
  padding: 15px 20px;
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
}
/* line 416, ../sass/main.scss */
#mid_p_page .group-titles li {
  display: inline-block;
  padding: 2px 3px;
}
/* line 419, ../sass/main.scss */
#mid_p_page .group-titles li a {
  color: #6B0000;
  text-decoration: none;
}
/* line 422, ../sass/main.scss */
#mid_p_page .group-titles li a:hover {
  text-decoration: underline;
  color: #C30000;
}
/* line 427, ../sass/main.scss */
#mid_p_page .group-titles li span.active {
  font-weight: bold;
  color: #6B0000;
}

/* line 434, ../sass/main.scss */
#bot_p_page {
  background: url(../img/post_page_bot.png) no-repeat center bottom;
  color: #FDFDFD;
  margin: 0;
  padding: 0;
  height: 47px;
}

/* line 441, ../sass/main.scss */
#post {
  color: #323232;
  position: relative;
  padding: 30px;
  font-size: 12px;
}
/* line 446, ../sass/main.scss */
#post img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 452, ../sass/main.scss */
#title_post {
  color: #a22929;
  font-size: 16px;
  font-weight: bold;
  background-image: url(../img/top_content.gif);
  background-repeat: no-repeat;
  background-position: center bottom;
  text-align: center;
  position: relative;
  height: 70px;
}

/* line 463, ../sass/main.scss */
.pagination {
  margin: 0;
  padding: 0;
  border: 0;
  float: right;
  margin-right: 40px;
}
/* line 29, ../sass/helper/_andy.scss */
.pagination:before, .pagination:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 33, ../sass/helper/_andy.scss */
.pagination:after {
  clear: both;
}
/* line 60, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.pagination li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.pagination li:first-child, .pagination li.first {
  padding-left: 0;
}
/* line 49, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.pagination li:last-child {
  padding-right: 0;
}
/* line 50, c:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.pagination li.last {
  padding-right: 0;
}
/* line 467, ../sass/main.scss */
.pagination a {
  margin-left: 10px;
  color: #a22929;
  text-decoration: none;
  font-size: 13px;
}
/* line 472, ../sass/main.scss */
.pagination a.current {
  color: #333;
  cursor: text;
}

/* line 481, ../sass/main.scss */
.adv {
  position: absolute;
  float: left;
  width: 140px;
  height: 270px;
  background-color: #e1e1e1;
  top: -250px;
  left: -170px;
}
/* line 489, ../sass/main.scss */
.adv.right {
  left: 1020px;
}

/* line 494, ../sass/main.scss */
#reg-form, #clientlogin-form, #changepassword-form, #cash-form {
  padding-left: 190px;
}
/* line 496, ../sass/main.scss */
#reg-form input, #reg-form label, #reg-form select, #reg-form div, #clientlogin-form input, #clientlogin-form label, #clientlogin-form select, #clientlogin-form div, #changepassword-form input, #changepassword-form label, #changepassword-form select, #changepassword-form div, #cash-form input, #cash-form label, #cash-form select, #cash-form div {
  display: block;
  width: 300px;
}
/* line 500, ../sass/main.scss */
#reg-form div, #clientlogin-form div, #changepassword-form div, #cash-form div {
  text-align: center;
  padding: 20px 0;
}
/* line 504, ../sass/main.scss */
#reg-form label, #reg-form button, #clientlogin-form label, #clientlogin-form button, #changepassword-form label, #changepassword-form button, #cash-form label, #cash-form button {
  margin-top: 10px;
}
/* line 507, ../sass/main.scss */
#reg-form .error, #clientlogin-form .error, #changepassword-form .error, #cash-form .error {
  color: red;
  margin-top: 0px;
}

/* line 514, ../sass/main.scss */
table {
  max-width: 100%;
  background-color: transparent;
}

/* line 518, ../sass/main.scss */
th {
  text-align: center;
}

/* line 521, ../sass/main.scss */
.table {
  width: 100%;
  margin-bottom: 20px;
}

/* line 530, ../sass/main.scss */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

/* line 536, ../sass/main.scss */
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

/* line 545, ../sass/main.scss */
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

/* line 548, ../sass/main.scss */
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}

/* line 551, ../sass/main.scss */
.table .table {
  background-color: #ffffff;
}

/* line 559, ../sass/main.scss */
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}

/* line 562, ../sass/main.scss */
.table-bordered {
  border: 1px solid #dddddd;
}

/* line 570, ../sass/main.scss */
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}

/* line 574, ../sass/main.scss */
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

/* line 578, ../sass/main.scss */
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

/* line 582, ../sass/main.scss */
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}

/* line 585, ../sass/main.scss */
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}

/* line 591, ../sass/main.scss */
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}

/* line 607, ../sass/main.scss */
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}

/* line 613, ../sass/main.scss */
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}

/* line 627, ../sass/main.scss */
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}

/* line 633, ../sass/main.scss */
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}

/* line 647, ../sass/main.scss */
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}

/* line 653, ../sass/main.scss */
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}

/* line 667, ../sass/main.scss */
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}

/* line 673, ../sass/main.scss */
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}

/* line 687, ../sass/main.scss */
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}

/* line 693, ../sass/main.scss */
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}

@media (max-width: 767px) {
  /* line 697, ../sass/main.scss */
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
    -webkit-overflow-scrolling: touch;
  }

  /* line 706, ../sass/main.scss */
  .table-responsive > .table {
    margin-bottom: 0;
  }

  /* line 714, ../sass/main.scss */
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }

  /* line 717, ../sass/main.scss */
  .table-responsive > .table-bordered {
    border: 0;
  }

  /* line 725, ../sass/main.scss */
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }

  /* line 733, ../sass/main.scss */
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }

  /* line 739, ../sass/main.scss */
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
