<div class="left-side">
  <? 
    var news = menuPosts.filter(function(p){return p.category_id==2});
    if(news.length){
  ?>
  <div class="box">
    <h1 class="box-title"><a class="news" href="">Tin tức</a></h1>
    <div class="box-content">
      <div class="img">
        <img width="125" height="90" src="/posts/<?=news[0].featured_image?>" alt="">
      </div>
      <div class="text">
        <a class="artile-title" href="/home/view/<?=news[0].id?>"><?=news[0].title?></a></a>
        <div><?- news[0].short_content.substr(0,100)?>...</div>
      </div>
    </div>
    <ul class="list-article">
      <? for(var i = 1; i < news.length && i < 6; i++){  ?>
      <li><a href="/home/view/<?=news[i].id?>"><?=news[i].title  ?></a><span><?=: news[i].createdAt | formatDate ?></span></li>
      <? }  ?>
    </ul>
  </div>
  <? }  ?>
  
  <? 
    var events = menuPosts.filter(function(p){return p.category_id==3});
    if(events.length){
  ?>
  
  <div class="box">
    <h1 class="box-title"><a class="sukien" href="">Su kien</a></h1>
    <div class="box-content">
      <div class="img">
        <img width="125" height="90" src="/posts/<?=events[0].featured_image?>" alt="">
      </div>
      <div class="text">
         <a class="artile-title" href="/home/view/<?=events[0].id?>"><?=events[0].title?></a></a>
        <div><?- events[0].short_content.substr(0,100)?>...</div>
      </div>
    </div>
    <ul class="list-article">
     <? for(var i = 1; i < events.length && i < 6; i++){  ?>
      <li><a href="/home/view/<?=events[i].id?>"><?=events[i].title  ?></a><span><?=: events[i].createdAt | formatDate ?></span></li>
      <? }  ?>
    </ul>
  </div>
  <? }  ?>

  <? 
    var press = menuPosts.filter(function(p){return p.category_id==9});
    if(press.length){
  ?>
  <div class="box">
    <h1 class="box-title"><a class="baochi" href="">Bao chi</a></h1>
    <div class="box-content">
      <div class="img">
        <img width="125" height="90" src="/posts/<?=press[0].featured_image?>" alt="">
      </div>
      <div class="text">
        <a class="artile-title" href="/home/view/<?=press[0].id?>"><?=press[0].title?></a></a>
        <div><?- press[0].short_content.substr(0,100)?>...</div>
      </div>
    </div>
    <ul class="list-article">
      <? for(var i = 1; i < press.length && i < 6; i++){  ?>
        <li><a href="/home/view/<?=press[i].id?>"><?=press[i].title  ?></a><span><?=: press[i].createdAt | formatDate ?></span></li>
      <? }  ?>
    </ul>
  </div>
  <? }  ?>
</div>
<div class="right-side">
  <? 
    var st = menuPosts.filter(function(p){return p.category_id==10});
    if(st.length){
  ?>
  <div class="box">
    <h1 class="box-title"><a class="gamethust" href="">sang tac</a></h1>
    <div class="box-content">
      <div class="img">
        <img width="125" height="90" src="/posts/<?=st[0].featured_image?>" alt="">
      </div>
      <div class="text">
        <a class="artile-title" href="/home/view/<?=st[0].id?>"><?=st[0].title?></a></a>
        <div><?- st[0].short_content.substr(0,100)?>...</div>
      </div>
    </div>
    <ul class="list-article">
       <? for(var i = 1; i < st.length && i < 6; i++){  ?>
        <li><a href="/home/view/<?=st[i].id?>"><?=st[i].title  ?></a><span><?=: st[i].createdAt | formatDate ?></span></li>
      <? }  ?>
    </ul>
  </div>
  <? }  ?>
  <div class="slider">
    <ul class="slides">
      <li><img src="/linker/img/slide/Cuong_hoa_trang_bi.jpg" alt=""></li>
      <li><img src="/linker/img/slide/Cuong_hoa_tro_thu.jpg" alt=""></li>
      <li><img src="/linker/img/slide/Di_dung.jpg" alt=""></li>
      <li><img src="/linker/img/slide/Hethong_Maychu_moi.jpg" alt=""></li>
      <li><img src="/linker/img/slide/Son_Trang_moi.jpg" alt=""></li>
      <li><img src="/linker/img/slide/Tan_nvu_Thanhtran.jpg" alt=""></li>
      <li><img src="/linker/img/slide/Thu_phuc_Thap_c.jpg" alt=""></li>
      <li><img src="/linker/img/slide/Tro_Thu_Tu_tuong.jpg" alt=""></li>
    </ul>
  </div>
  <div class="box">
    <h1 class="box-title"><a class="Thuviencolong" href="">Thu vien</a></h1>
    <div class="box-content">
      <ul class="gallery">
        <li><a href=""><img src="/linker/img/gallery/ingame2.jpg" alt=""></a></li>
        <li><a href=""><img src="/linker/img/gallery/screenshot2.jpg" alt=""></a></li>
        <li><a href=""><img src="/linker/img/gallery/trailer2.jpg" alt=""></a></li>
        <li><a href=""><img src="/linker/img/gallery/wallpaper2.jpg" alt=""></a></li>
      </ul>
    </div>
  </div>
</div>