<div id="post_page" class="list-page">
	<div id="top_p_page">
		<h1>
			<span>Kết quả tìm kiếm cho "<?= search ?>"</span>
		</h1>
	</div>
	<div id="mid_p_page">
		<!-- <h2 class="related-news">Tin đã đăng</h2> -->
		<ul class="list-article" id="post-by-category">
	    <? for(var i = posts.length-1; i > -1; i--){  ?>
	    <li><a href="/home/view/<?=posts[i].id?>"><?=posts[i].title ?></a>
	    <span><?=: posts[i].createdAt | formatDate ?></span></li>
	    <? }  ?>
	  </ul>
	  <ul class="pagination">
	  </ul>
	</div>
	<div id="bot_p_page"></div>
</div>