<div id="post_page" class="single-page">
	<div id="top_p_page">
		<h1>
			<span><?=post.category?></span>
			
		</h1>
	</div>
	<div id="mid_p_page">
		<? if(post.groupPosts && post.groupPosts.length){ ?>
		<div class="group-titles">
			<ul>
				<?   for (var i = post.groupPosts.length - 1; i >= 0; i--) {?>
				<? 		if(post.groupPosts[i].id!== post.id){ ?>
					<li><a href="/home/view/<?=post.groupPosts[i].id?>"><?=post.groupPosts[i].title?></a></li>
					<li><span>|</span></li>
				<?   }  else { ?>
					<li><span class="active"><?=post.groupPosts[i].title?></span></a></li>
					<li><span>|</span></li>
				<?  } ?>
				<?  } ?>
			</ul>
		</div>
		<? }?>
		<div id="title_post">
			<span id="lblTitle">
				<span><?=post.title?></span><? if (req.isAuthenticated() && req.user.loginName==='admin'){ ?> <a href="/post/edit/<?=post.id?>"> Edit this post</a> <? } ?><br>
			</span>
		</div>
		<div id="post">
			<?- post.content?>
		</div>
		<? 
	    var list = menuPosts.filter(function(p){return p.category_id==post.category_id && p.id !== post.id});
	    if(list.length){
	  ?>
	  <h2 class="related-news">Tin liên quan</h2>
		<ul class="list-article" id="post-related">
	    <? for(var i = 0; i < list.length; i++){  ?>
	    <li><a href="/home/view/<?=list[i].id?>"><?=list[i].title  ?></a><span><?=: list[i].createdAt | formatDate ?></span></li>
	    <? }  ?>
	  </ul>
	  <? } ?>
	  <ul class="pagination">
	  </ul>
	</div>
	<div id="bot_p_page"></div>
</div>