 <script src="/linker/admin/js/vendor/jquery-1.10.2.min.js"></script>
 <input type="file" id="tinymce-input">
 <script type="text/javascript">
 	(function($){
 		$(function(){
 			var input = $('#tinymce-input');
 			input.on('change', function(e){
 				var image = e.target.files[0];
 				var form = new FormData();
 				form.append('image',image);
 				$.ajax({
 					url: '/post/upload',
 					data: form,
 					type: 'POST',
					cache: false,
					contentType: false,
					processData: false,
					success: function(data){
						// input.val('');
						window.parent.tinyMCE.get('content').insertContent('<img src="'+data.image+'" />' );
						window.parent.tinyMCE.get('content').windowManager.close();
					},
					error: function(err){
						console.log(err);
					}
 				})
 			});
 		});
 	}(jQuery));
	
 </script>