<textarea id="videoembed" style="width: 100%; height: 100%;"></textarea>
<script type="text/javascript">
	var video = document.getElementById('videoembed');
	video.onchange = function(){
		window.parent.tinyMCE.get('input-content').insertContent('<iframe src="'+video.value+'">');
	};
</script>