@import "compass";
@import "susy";
@import "helper/normalize";
@import "helper/andy";
@import "helper/superfish";
@import "menu/*.png";
@import "box/*.png";

// Susy settings
$total-columns: 12; // 12 columns
$column-width: 80px; // columns are 80px wide, container are 960px wide
$gutter-width: 10px; // with 0px gutters. Column have no margin
$grid-padding: 0px; // and 1em padding on the grid container
// Compass settings
$menu-sprite-dimensions: true; /* Generate dimensions */
$box-sprite-dimensions: true; /* Generate dimensions */
$disable-magic-sprite-selectors: true; /* Important to disable auto generate sprites class */

*, *:before, *:after{
	@include box-sizing(border-box);
}
.hide{
	display: none;
}
.error-cash{
	text-align: center;
	color: red;
}
.success-cash{
	text-align: center;
	color: green;
}

ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	background: url(../img/top_bgmain.jpg) center top no-repeat;
	font-family: Tahoma;
	background-color: #eadec6;
}
#wrapper{
	@include container;
	width: 1000px;
}
#header{
	margin-top: 43px;
	@include clearfix;
	position: relative;
	.search{
		width: 155px;
		position: absolute;
		right: 47px;
		top: -37px;
		input[type=text]{
			background: url(../img/search.png) left top no-repeat;
			width: 150px;
			height: 26px;
			border: none;
			padding: 5px 20px 5px 10px;
			color: #c1500b;
		}
		input[type=submit]{
			background: url(../img/search-button.png) left top no-repeat;
			width: 16px;
			height: 26px;
			border: none;
			margin-left: -25px;
			@include text-hide;
		}
	}
	.user-info{
		position: absolute;
		right: 208px;
		top: -35px;
		span{
			color: #fff;
		}
		a.username{
			color: #fff;
			font-weight: bold;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		a{
			color: #fff;
		}
	}
	ul.menu{
		@include horizontal-list;
		@include sf-menu;
		width: 350px;
		float: left;
		display: block;
		&>li{
			padding: 0 10px;
			background: url(../img/border.png) right top no-repeat;
			height: 34px;
			&:last-child{
				background: none;
			}
			&>a{
				@include text-hide;
				margin-top: 13px;
			}
		}
		&.left-menu{
			margin-left: 55px;
		}
		&.right-menu{
			margin-left: 195px;
		}
		ul.sub-menu{
			padding-top: 12px;
			a{
				padding: 5px 0 5px 10px;
				width: 180px;
				background: url(../img/bg_sub_menu.png) left top repeat-x;
				color: #553115;
				border-bottom: 1px solid #bc9c75;
				text-decoration: none;
				font-weight: bold;
				font-size: 12px;
				&:hover{
					background: url(../img/bg_sub_menu_hover.png) left top repeat-x;
				}
			}
		}
		li:hover a{
				&.trangchu{
					@include menu-sprite(trangchu_hover);
				}
				&.tintuc{
					@include menu-sprite(tintuc_hover);
				}
				&.sukien{
					@include menu-sprite(sukien_hover);
				}
				&.gioithieu{
					@include menu-sprite(gioithieu_hover);
				}
				&.dactrung{
					@include menu-sprite(dactrung_hover);
				}
				&.huongdan{
					@include menu-sprite(huongdan_hover);
				}
				&.taikhoan{
					@include menu-sprite(taikhoan_hover);
				}
				&.dangnhap{
					@include menu-sprite(newdangnhap_hover);
				}
				&.congdong{
					@include menu-sprite(congdong_hover);
				}
			}
		a{
			&.trangchu{
				@include menu-sprite(trangchu);
			}
			&.tintuc{
				@include menu-sprite(tintuc);
			}
			&.sukien{
				@include menu-sprite(sukien);
			}
			&.gioithieu{
				@include menu-sprite(gioithieu);
			}
			&.dactrung{
				@include menu-sprite(dactrung);
			}
			&.huongdan{
				@include menu-sprite(huongdan);
			}
			&.taikhoan{
				@include menu-sprite(taikhoan);
			}
			&.dangnhap{
				@include menu-sprite(newdangnhap);
			}
			&.congdong{
				@include menu-sprite(congdong);
			}
		}
	}
}
.flash-wrapper{
	text-align: center;
	.flash{
		position: relative;
		display: inline-block;
	}
	object{
		z-index: 4;
	}
	a{
		z-index: 5;
		position: absolute;
		display: block;
		@include text-hide;
		@include border-radius(50%);
		&.download{
			z-index: 6;
			width: 110px;
			height: 110px;
			bottom: 10px;
			left: 105px;
		}
		&.cash{
			width: 80px;
			height: 80px;
			bottom: 70px;
			left: 67px;
		}
		&.register{
			width: 95px;
			height: 95px;
			bottom: 72px;
			left: 161px;
		}
	}
	
}
#main{
	position: relative;
	@include clearfix;
	.left-side{
		@include span-columns(6,12);
	}
	.right-side{
		padding-left: 45px;
		@include span-columns(6 omega,12);
	}
	.box{
		margin-top: 30px;
		float: left;
		background: url(../img/bg_content.png) left top no-repeat;
		width: 451px;
		height: 313px;
		padding: 5px;
		.box-title{
			background: url(../img/bg_title.png) left top no-repeat;
			height: 32px;
			width: 442px;
			padding: 5px 35px;
			margin: 0;
			a{
				@include text-hide;
				display: block;
				&.news{
					@include box-sprite(Tintuc);
				}
				&.gamethust{
					@include box-sprite(gamethust);
				}
				&.sukien{
					@include box-sprite(sukien);
				}
				&.baochi{
					@include box-sprite(Baochi);
				}
				&.Thuviencolong{
					@include box-sprite(Thuviencolong);
				}
			}
		}
		.box-content{
			@include clearfix;
			padding-top: 10px;
			.img{
				width: 125px;
				float: left;
				img{
					border: 1px solid #e7bd7d;
					padding: 2px;
				}
			}
			.text{
				width: 300px;
				float: left;
				padding-left: 10px;
				font-size: 13px;
				a.artile-title{
					color: #c1500b;
					text-decoration: none;
					font-size: 14px;
				}
				div{
					margin-top: 8px;
					font-size: 12px;
					line-height: 15px;
					text-align: justify;
				}
			}
		}
	}
	.slider{
		margin-top: 20px;
		float: left;
		background: url(../img/slide/bg_slide.jpg) left top no-repeat;
		width: 451px;
		height: 313px;
		padding: 19px 5px 0 5px;
	}
	.gallery{
		padding-left: 12px;
		li{
			display: inline-block;
		}
		a{
			display: block;
			&:hover img{
				border: 2px solid #e7bd7d;
			}
		}
		img{
			padding: 2px;
			border: 2px solid #C57D2C;
		}
	}
}
.list-article{
	padding-left: 20px;
	padding-right: 10px;
	li{
		// list-style-image: url(../img/list-1.png);
		list-style: none;
		padding: 4px 0;
		border-bottom: solid 1px #d8c6ae;
		a{
			text-decoration: none;
			font-size: 12px;
			color: #322000;
			&:hover{
				color: #C90000;
				text-decoration: underline;
			}
		}
		span{
			float: right;
			font-size: 12px;
		}
	}
}
.box .list-article{
	margin-top: 10px;
	li{
		overflow: hidden;
		a{
			float: left;
			width: 340px;
			display: inline-block;
			font-size: 12px;
	   	font-weight: normal;
	   	font-family: Arial,Helvetica,sans-serif;
	   	text-align: justify;
		}
	}
}
#footer{
	margin-top: 30px;
}

#post_page {
	float: right;
	width: 710px;
	margin-top: 20px;
	padding-left: 0px;
}
#top_p_page{
	background: url(../img/post_page_top.png) no-repeat center top;
	height: 62px;
	padding-top: 30px;
}
#top_p_page h1 {
	font-size: 16px;
	font-weight: bold;
	color: #9b0000;
	margin-left: 90px;
	margin-top: -10px;
	padding: 0px;
}
#mid_p_page {
	margin: 0 auto;
	background: url(../img/post_page_mid.png) repeat-y center;
	height: auto;
	padding: 22px 10px 30px 10px;
	.related-news{
		padding-left: 40px;
		margin-left: 20px;
		color: #602d00;
		font-size: 14px;
		line-height: 30px;
		background: url('../img/bg_related.png') no-repeat left top;
	}
	.list-article{
		padding: 0 30px 0 40px;
	}
	table.table{
		text-align: center;
	}
	.group-titles{
		background: url(../img/bg_group_post.png) no-repeat left top;
		width: 548px;
		height: 72px;
		padding: 15px 20px;
		margin: 0 auto;
		font-size: 12px;
		text-align: center;
		li{
			display: inline-block;
			padding: 2px 3px;
			a{
				color: #6B0000;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
					color: #C30000;
				}
			}
			span.active{
				font-weight: bold;
				color: #6B0000;
			}
		}
	}
}
#bot_p_page {
	background: url(../img/post_page_bot.png) no-repeat center bottom;
	color: #FDFDFD;
	margin: 0;
	padding: 0;
	height: 47px;
}
#post{
  color: #323232;
  position: relative;
  padding: 30px;
  font-size: 12px;
  img{
		@include img-responsive;
		margin-left: auto;
		margin-right: auto;
	}
}
#title_post{
  color: #a22929;
  font-size: 16px;
  font-weight: bold;
  background-image: url(../img/top_content.gif);
  background-repeat: no-repeat;
  background-position: center bottom;
  text-align: center;
  position: relative;
  height: 70px;
}
.pagination{
	@include horizontal-list;
	float: right;
	margin-right: 40px;
	a{
		margin-left: 10px;
		color: #a22929;
		text-decoration: none;
		font-size: 13px;
		&.current{
			color: #333;
			cursor: text;
		}
	}
}

// Advertise banner

.adv{
	position: absolute;
  float:left;
  width:140px;
  height:270px;
  background-color:#e1e1e1;
  top:-250px;
  left: -170px;
  &.right{
  	left: 1020px;
  }
}

#reg-form, #clientlogin-form, #changepassword-form, #cash-form{
	padding-left: 190px;
	input, label, select, div{
		display: block;
		width: 300px;
	}
	div{
		text-align: center;
		padding: 20px 0;
	}
	label, button{
		margin-top: 10px;
	}
	.error{
		color: red;
		margin-top: 0px;
	}
}

// Bootstrap table
table {
  max-width: 100%;
  background-color: transparent;
}
th {
  text-align: center;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #ffffff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
@media (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}